<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pytel_WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pytel_WinForm.Properties.Settings>
            <setting name="lastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lastStat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="volumeChange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="volumeLast" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="positionChange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="mediaLast" serializeAs="String">
                <value />
            </setting>
            <setting name="tbVisual" serializeAs="String">
                <value>0</value>
            </setting>
        </Pytel_WinForm.Properties.Settings>
    </userSettings>
</configuration>